NEXT_PUBLIC_SHEET_CSV_URL=https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID/export?format=csv&gid=0
NEXT_PUBLIC_REGISTRATION_META_CSV_URL=https://docs.google.com/spreadsheets/d/YOUR_META_SHEET_ID/export?format=csv&gid=0
NEXT_PUBLIC_ADMIN_EMAIL=admin@pogobonfire.com
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_SERVICE_ACCOUNT_EMAIL=service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
